@import "./TrainerCard/trainercard";

.trainers {
  background: color(dark);
  .container {
    display: grid;
    grid-template-rows: 2fr auto;
    padding: 50px calc((100vw - 1200px) / 2);
    padding-bottom: 100px;

    .title {
      justify-self: center;
      align-self: center;
      text-align: center;
      h1 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 15px;

        font-style: normal;
        font-weight: bold;
        font-size: clamp(1.3rem, 8vw, 2rem);
        line-height: 44px;

        color: color(light);
      }
      h1::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 3px;
        background: color(primary);
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: clamp(0.7rem, 5vw, 1rem);
        line-height: 22px;

        color: color(light);

        margin-bottom: 50px;
      }
    }
    .trainers-cards {
      padding: 0 15px;
      display: flex;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 768px) {
  .trainers {
    .container {
      padding: 50px 25px;
      .trainers-cards {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
