@import './HamburgerIcon/hamburger';

.navbar {
    width: 100%;
    height: 80px;
    padding: 20px calc((100vw - 1200px)/2);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &__logo {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
        }

        h1 {
            margin-left: 0.5rem;
            font-size:  clamp(1rem,6vw,2rem);
            font-weight: bold;
            color: #eee;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-around;
        list-style: none;

        .menu-item {
            font-size: clamp(0.8rem,4vw,1.3rem);
            font-weight: 400;
            padding-left: 20px;

            a {
                text-decoration: none;
                color: #eee;
                text-transform: uppercase;
            }
        }
    }

    &__toggle {
        display: none;
    }

    &.open {
        background: #000;
    }

}
@media screen and (max-width: 1230px) {
    .navbar {
        padding: 20px 15px;
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        &__menu {
            display: none;
        }
        &__toggle {
            display: block;
        }
    }
}