@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.hamburger-icon {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
  position: relative;
}
.hamburger-icon .line {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: #eee;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
.hamburger-icon .line:first-child, .hamburger-icon .line:last-child {
  width: 15px;
}
.hamburger-icon .line:first-child {
  top: 0;
  left: 0;
}
.hamburger-icon .line:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hamburger-icon .line:last-child {
  bottom: 0;
  right: 0;
}
.hamburger-icon.open .line:first-child {
  transform: translateX(2px) translateY(8px) rotate(405deg);
}
.hamburger-icon.open .line:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}
.hamburger-icon.open .line:last-child {
  transform: translateX(-2px) translateY(-8px) rotate(405deg);
}

.navbar {
  width: 100%;
  height: 80px;
  padding: 20px calc((100vw - 1200px)/2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar__logo img {
  width: 50px;
  height: 50px;
}
.navbar__logo h1 {
  margin-left: 0.5rem;
  font-size: clamp(1rem,6vw,2rem);
  font-weight: bold;
  color: #eee;
}
.navbar__menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar__menu li {
  font-weight: 400;
}
.navbar__menu li a {
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  color: #eee;
  text-transform: uppercase;
  cursor: pointer;
  font-size: clamp(0.6rem,1.8vw,1rem);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar__menu li a:hover {
  text-shadow: 0 0 5px 3px #eee;
  font-weight: bold;
  transform: translateY(-3px);
}
.navbar__menu li a.active::after {
  content: "";
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background: #eee;
}
.navbar__toggle {
  display: none;
}
.navbar.open {
  background: #eb4e44;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}
.navbar.open__menu li a:hover {
  color: #000;
}

@media screen and (max-width: 1230px) {
  .navbar {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__toggle {
    display: block;
  }
}
.sidemenu {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 20;
  top: 80px;
  right: -100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eb4e44;
  transition: transform 0.5s ease-in-out;
}
.sidemenu li {
  padding: 1rem 2rem;
}
.sidemenu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eee;
}
.sidemenu.open {
  transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
  .sidemenu {
    display: none;
  }
}
.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, rgba(117, 117, 117, 0.75) 0%, rgba(117, 117, 117, 0.25) 100%), url("hero.webp") center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container {
  padding: 0 calc((100vw - 1200px) / 2);
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr 1fr;
}
.hero .container h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: clamp(3rem, 8vw, 5.3rem);
  font-style: normal;
  font-weight: bold;
  color: #eee;
  align-self: center;
}
.hero .container h2 {
  grid-row: 2/3;
  grid-column: 1/2;
  font-weight: bold;
  font-size: clamp(1rem, 8vw, 3.5rem);
  color: #eee;
  align-self: center;
}
.hero .container h2 span {
  color: #eb4e44;
  font-weight: bold;
  font-size: clamp(1rem, 8vw, 3.5rem);
}
.hero .container .btn-container {
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: center;
}
.hero .container .btn-container a {
  background: #eb4e44;
  border-radius: 10px;
  padding: 15px 50px;
  color: #eee;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 1200px) {
  .hero .container {
    height: 80%;
  }
}
@media screen and (max-width: 768px) {
  .hero .container {
    height: 65%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 75px 10px 125px 10px;
  }
}
.services .container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px calc((100vw - 1200px) / 2);
}
.services .container img {
  height: 550px;
  border-radius: 5px;
  justify-self: center;
}
.services .container .services-info {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}
.services .container .services-info h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 8vw, 1.3rem);
  line-height: 29px;
  color: #eb4e44;
  margin-bottom: 10px;
}
.services .container .services-info h2 {
  font-style: normal;
  font-weight: bold;
  font-size: clamp(1.3rem, 8vw, 2rem);
  line-height: 44px;
  color: #000;
  margin-bottom: 25px;
}
.services .container .services-info p {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.7rem, 5vw, 1rem);
  line-height: 22px;
  text-align: justify;
  color: #757575;
  margin-bottom: 15px;
}
.services .container .services-info ul {
  list-style: none;
}
.services .container .services-info ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1.3rem);
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: #000;
}
.services .container .services-info ul li .icon {
  font-size: clamp(1.3rem, 5vw, 2rem);
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .services .container {
    grid-template-columns: 1fr;
    padding: 50px 25px;
  }
  .services .container .services-info {
    padding-right: 0;
  }
  .services .container img {
    max-width: 290px;
  }
}
.trainer-card {
  max-width: 350px;
  max-height: 500px;
  background: #eee;
  border-radius: 5px;
  margin: 10px;
}
.trainer-card img {
  margin: 25px;
  margin-bottom: 0;
  width: calc(100% - 50px);
  height: auto;
  border-radius: 5px;
}
.trainer-card h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.8rem, 5vw, 1.3rem);
  line-height: 29px;
  text-align: center;
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
}
.trainer-card h2 {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.5rem, 4vw, 1rem);
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
  color: #757575;
}

@media screen and (max-width: 768px) {
  .trainer-card {
    width: 250px;
  }
}
.trainers {
  background: #000;
}
.trainers .container {
  display: grid;
  grid-template-rows: 2fr auto;
  padding: 50px calc((100vw - 1200px) / 2);
  padding-bottom: 100px;
}
.trainers .container .title {
  justify-self: center;
  align-self: center;
  text-align: center;
}
.trainers .container .title h1 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(1.3rem, 8vw, 2rem);
  line-height: 44px;
  color: #eee;
}
.trainers .container .title h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background: #eb4e44;
}
.trainers .container .title p {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.7rem, 5vw, 1rem);
  line-height: 22px;
  color: #eee;
  margin-bottom: 50px;
}
.trainers .container .trainers-cards {
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .trainers .container {
    padding: 50px 25px;
  }
  .trainers .container .trainers-cards {
    flex-direction: column;
    align-items: center;
  }
}
.price-card {
  max-width: 350px;
  width: 100%;
  height: auto;
  max-height: 350px;
  background: #fff;
  border: 5px solid #eb4e44;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  padding: 10px;
}
.price-card h1 {
  font-style: normal;
  font-weight: bold;
  font-size: clamp(1.5rem, 5vw, 1.8rem);
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.price-card h2 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.8rem, 4vw, 1.3rem);
  line-height: 29px;
  color: #000;
}
.price-card p {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.5rem, 3vw, 0.8rem);
  text-align: center;
  line-height: 17px;
  color: #757575;
  margin: 5px 0;
}
.price-card img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 1200px) {
  .price-card img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .price-card {
    width: 250px;
    height: 250px;
  }
  .price-card img {
    width: 100px;
    height: 100px;
  }
  .price-card p {
    margin: 5px 0;
  }
}
.prices .container {
  display: grid;
  align-items: center;
  grid-template-rows: 2fr auto;
  padding: 50px calc((100vw - 1200px) / 2);
}
.prices .container .texts h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 8vw, 1.3rem);
  line-height: 29px;
  color: #eb4e44;
  margin-bottom: 10px;
}
.prices .container .texts h2 {
  font-style: normal;
  font-weight: bold;
  font-size: clamp(1.3rem, 8vw, 2rem);
  line-height: 44px;
  color: #000;
  margin-bottom: 25px;
}
.prices .container .texts p {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.7rem, 5vw, 1rem);
  line-height: 22px;
  color: #757575;
  margin-bottom: 40px;
  text-align: justify;
}
.prices .container .price-cards {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .prices .container {
    padding: 50px 25px;
  }
  .prices .container .price-cards {
    flex-direction: column;
    align-items: center;
  }
}
.contact-card {
  align-self: center;
  justify-self: center;
  width: 85%;
  min-height: 500px;
  background: #eee;
  border-radius: 5px;
  padding: 15px 30px;
}
.contact-card h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #eb4e44;
  margin-bottom: 10px;
}
.contact-card h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #757575;
  margin-bottom: 10px;
}
.contact-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-card form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.contact-card form .input-group label {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000;
}
.contact-card form .input-group input {
  margin-top: 5px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 5px;
  background: #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.contact-card form .input-group textarea {
  margin-top: 5px;
  height: 150px;
  border: none;
  outline: none;
  padding-left: 5px;
  background: #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  resize: none;
}
.contact-card form button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background: #eb4e44;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #eee;
}
.contact-card form button:hover {
  transform: scale(1.1);
}
.contact-card form .error-message {
  color: #eb4e44;
  align-self: self-start;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .contact-card {
    width: 270px;
    grid-row: 2/3;
  }
  .contact-card form .input-group input {
    height: 40px;
  }
  .contact-card form .input-group textarea {
    width: 100%;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .message-container {
  width: 400px;
  height: 200px;
  background: #eee;
  padding: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.modal .message-container .content {
  height: 100%;
  border: 1px solid #eb4e44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal .message-container .content .envelope {
  font-size: 2rem;
  color: #212121;
}
.modal .message-container .content h1 {
  font-size: 1rem;
  color: #212121;
  margin-bottom: 15px;
}
.modal .message-container .content .icon {
  cursor: pointer;
  color: #eb4e44;
  font-size: 0.8rem;
  position: absolute;
  top: 15px;
  right: 15px;
}

.contact {
  background: #000;
}
.contact .container {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 50px calc((100vw - 1200px) / 2);
  padding-bottom: 100px;
}
.contact .container .contact-info {
  display: flex;
  flex-direction: column;
}
.contact .container .contact-info h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 8vw, 1.3rem);
  line-height: 29px;
  color: #eb4e44;
  margin-bottom: 10px;
}
.contact .container .contact-info h2 {
  font-style: normal;
  font-weight: bold;
  font-size: clamp(1.3rem, 8vw, 2rem);
  line-height: 44px;
  color: #eee;
  margin-bottom: 25px;
}
.contact .container .contact-info p {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.7rem, 5vw, 1rem);
  line-height: 22px;
  color: #eee;
  margin-bottom: 25px;
  text-align: justify;
}
.contact .container .contact-info ul {
  list-style: none;
}
.contact .container .contact-info ul li {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.5rem, 3vw, 1.3rem);
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #eee;
  margin-bottom: 25px;
}
.contact .container .contact-info ul li .icon {
  font-size: clamp(1.3rem, 5vw, 2rem);
  margin-right: 10px;
  color: #eee;
}
.contact .container .contact-info ul li .icon:hover {
  color: #eb4e44;
}

@media screen and (max-width: 768px) {
  .contact .container {
    padding: 50px 25px;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }
  .contact .container .contactcard {
    justify-self: center;
    grid-row: 2/3;
  }
}
footer {
  height: 150px;
  background: #bdbdbd;
}
footer .container {
  padding: 0 calc((100vw - 1200px) /2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 110px 40px;
}
footer .container .logo {
  align-self: center;
}
footer .container .logo__brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
footer .container .logo__brand img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
footer .container .logo__brand h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #eee;
}
footer .container .logo h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #eee;
}
footer .container .logo h2 span {
  color: #eb4e44;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
footer .container .social-icons {
  align-self: flex-end;
  justify-self: flex-end;
}
footer .container .social-icons .icon {
  font-size: 2rem;
  color: #eee;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
footer .container .social-icons .icon:hover {
  color: #eb4e44;
  transform: translateY(-3px);
}
footer .container .copyright {
  grid-row: 2/3;
  grid-column: 1/3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  align-self: center;
  color: #bdbdbd;
  position: relative;
}
footer .container .copyright::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(235, 78, 68, 0.5);
}

@media screen and (max-width: 1230px) {
  footer .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    height: auto;
  }
  footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 1fr;
  }
  footer .container .copyright {
    grid-row: 3/4;
    grid-template-columns: 1/2;
  }
  footer .container .logo {
    margin-top: 25px;
    grid-row: 1/2;
    grid-template-columns: 1/2;
    align-self: center;
    justify-self: center;
  }
  footer .container .social-icons {
    grid-row: 2/3;
    grid-template-columns: 1/2;
    align-self: center;
    justify-self: center;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.triangle {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
}

.filler {
  width: 100%;
  height: 1px;
}

.light {
  background: white;
}

.dark {
  background: black;
}

section {
  min-height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
