@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Color declaration
$colors: (
  primary: #EB4E44,
  light: #eee,
  dark: #000,
  light-gray: #BDBDBD,
  dark-gray: #757575,
  darkest-gray: #212121,
);
// Functions
@function color($color-name) {
  @return map-get($colors, $color-name);
}

@import './components/Navbar/navbar';
@import './components/SideMenu//sidemenu';
@import './components/Hero/hero';
@import './components/Services/services';
@import './components//Trainers/trainers';
@import './components/Prices/prices';
@import './components/Contact/contact';
@import './components/Footer/footer';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.triangle {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
}

.filler {
  width: 100%;
  height: 25px;
}
.light {
  background: white;
}
.dark {
  background: black;
}

@media screen and (max-width: 1230px) {
  .section {
    .container {
      padding: calc((100vh - 600px) /2) 15px;
    }
  }
}